<a href="https://colab.research.google.com/github/PedroFrancholi/Analise_de_Dados_e_Tomada_de_Decisoes/blob/main/Criptomoedas_aula0505.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import requests
import pandas as pd

In [ ]:
response = requests.get('https://api.wazirx.com/sapi/v1/tickers/24hr')

df = pd.read_json(response.text)

df.describe()

df['variacao'] = df['askPrice'] - df['lastPrice']

variacao = df[['symbol','variacao','askPrice','lastPrice']]
variacao = variacao.sort_values('variacao',ascending=False)

variacao

In [22]:
response = requests.get('https://api.wazirx.com/sapi/v1/tickers/24hr')

df = pd.read_json(response.text)

df.describe()

,openPrice,lowPrice,highPrice,lastPrice,volume,bidPrice,askPrice,at
count,4.460000e+02,4.460000e+02,4.460000e+02,4.460000e+02,4.460000e+02,4.460000e+02,4.460000e+02,4.460000e+02
mean,8.871487e+03,8.760875e+03,9.002328e+03,8.863454e+03,4.810027e+08,8.785979e+03,8.982439e+03,1.683334e+12
std,1.243967e+05,1.232514e+05,1.262162e+05,1.238633e+05,7.101466e+09,1.236137e+05,1.258994e+05,7.175506e+02
min,1.900000e-07,1.900000e-07,1.900000e-07,1.900000e-07,0.000000e+00,1.700000e-07,2.300000e-07,1.683334e+12
25%,1.139250e-01,1.069075e-01,1.201250e-01,1.125625e-01,2.032000e+00,1.061375e-01,1.177525e-01,1.683334e+12
50%,1.026380e+00,1.011800e+00,1.031000e+00,1.030955e+00,2.055105e+02,1.025100e+00,1.116000e+00,1.683334e+12
75%,1.927175e+01,1.808250e+01,1.963055e+01,1.924120e+01,6.899500e+03,1.820000e+01,1.966378e+01,1.683334e+12
max,2.513718e+06,2.492460e+06,2.551611e+06,2.500001e+06,1.458908e+11,2.500101e+06,2.544699e+06,1.683334e+12

In [23]:
variacao.head(5)

      symbol  variacao   askPrice  lastPrice
0     btcinr   44698.0  2544699.0  2500001.0
41   paxginr    4500.0   177000.0   172500.0
104   mkrinr     800.0    64000.0    63200.0
429   yfiwrx     672.0    53634.0    52962.0
17    bchinr     463.0    10055.0     9592.0

In [25]:
variacao.tail(5)

       symbol  variacao  askPrice  lastPrice
269  aaveusdt    -0.413    71.864     72.277
72     xvsinr    -0.480   509.460    509.940
175   ltcusdt    -0.510    90.240     90.750
39     umainr    -0.990   249.000    249.990
257   yfiusdt  -400.000  8500.000   8900.000