<a href="https://colab.research.google.com/github/PedroFrancholi/Analise_de_Dados_e_Tomada_de_Decisoes/blob/main/Titanic_Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [256]:
import pandas as pd

In [257]:
treino = pd.read_csv('train.csv')
treino.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [258]:
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [259]:
treino.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

In [260]:
treino.isnull().sum().sort_values(ascending=False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
dtype: int64

In [261]:
teste = pd.read_csv('test.csv')
teste.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [262]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [263]:
teste.isnull().sum().sort_values(ascending=False).head(5)

Cabin          327
Age             86
Fare             1
PassengerId      0
Pclass           0
dtype: int64

In [264]:
treino.isnull().sum().sort_values(ascending=False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
dtype: int64

In [265]:
treino.shape

(891, 12)

In [266]:
treino.nunique().sort_values(ascending=False)

PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Pclass           3
Embarked         3
Survived         2
Sex              2
dtype: int64

In [267]:
treino = treino.drop(['Name','Ticket','Cabin'], axis=1)

In [268]:
teste = teste.drop(['Name','Ticket','Cabin'], axis=1)

In [269]:
 treino.Age.mean()

29.69911764705882

In [270]:
treino.loc[treino.Age.isnull(),'Age'] = treino.Age.mean()

In [271]:
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()

In [272]:
treino.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [273]:
treino.Embarked.mode()[0]

'S'

In [274]:
treino.loc[treino.Embarked.isnull(),'Embarked'] = treino.Embarked.mode()[0]

In [275]:
teste.loc[teste.Fare.isnull(),'Fare'] = teste.Fare.mean()

In [276]:
treino.isnull().sum().sort_values(ascending=False).head(5)

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
dtype: int64

In [277]:
teste.isnull().sum().sort_values(ascending=False).head(5)

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
dtype: int64

Foram tratados todos os valores nulos para melhor apuração das informações.

In [278]:
col_treino_nr = treino.columns[treino.dtypes !='object']
col_treino_nr

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [279]:
treino_nr = treino.loc[:,col_treino_nr]

In [280]:
col_teste_nr = teste.columns[teste.dtypes !='object']
col_teste_nr

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [281]:
teste_nr = teste.loc[:,col_teste_nr]

In [282]:
from sklearn.model_selection import train_test_split

In [283]:
X = treino_nr.drop(['PassengerId','Survived'], axis=1)
y = treino.Survived

In [284]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

Árvore de classificação

In [285]:
from sklearn import tree

In [286]:
clf_ac = tree.DecisionTreeClassifier(random_state=42)

In [287]:
clf_ac= clf_ac.fit(X_train,y_train)

In [288]:
y_pred_ac = clf_ac.predict(X_val)

Neighbors Classifier

In [289]:
from sklearn.neighbors import KNeighborsClassifier

In [290]:
clf_knn = KNeighborsClassifier(n_neighbors=3)

In [291]:
clf_knn= clf_knn.fit(X_train,y_train)

In [292]:
y_pred_knn = clf_knn.predict(X_val)

Regressão Linear

In [293]:
from sklearn.linear_model import LogisticRegression

In [294]:
clf_rl = LogisticRegression(random_state=42)

In [295]:
clf_rl= clf_rl.fit(X_train,y_train)

In [296]:
y_pred_rl = clf_rl.predict(X_val)

Acurácia

In [297]:
from sklearn.metrics import accuracy_score

In [298]:
##Árvore
accuracy_score(y_val, y_pred_ac)

0.6169491525423729

In [299]:
##Knn
accuracy_score(y_val, y_pred_knn)

0.6610169491525424

In [300]:
##Regrssão Logísitica
accuracy_score(y_val, y_pred_rl)

0.7254237288135593

In [301]:
from sklearn.metrics import confusion_matrix

In [302]:
##Árvore
confusion_matrix(y_val, y_pred_ac)

array([[125,  50],
       [ 63,  57]])

In [303]:
##Knn
confusion_matrix(y_val, y_pred_knn)

array([[133,  42],
       [ 58,  62]])

In [304]:
##Regrssão Logísitica
confusion_matrix(y_val, y_pred_rl)

array([[156,  19],
       [ 62,  58]])

In [305]:
X_train

     Pclass        Age  SibSp  Parch      Fare
6         1  54.000000      0      0   51.8625
718       3  29.699118      0      0   15.5000
685       2  25.000000      1      2   41.5792
73        3  26.000000      1      0   14.4542
882       3  22.000000      0      0   10.5167
..      ...        ...    ...    ...       ...
106       3  21.000000      0      0    7.6500
270       1  29.699118      0      0   31.0000
860       3  41.000000      2      0   14.1083
435       1  14.000000      1      2  120.0000
102       1  21.000000      0      1   77.2875

[596 rows x 5 columns]

In [306]:
teste_nr.head(3)

   PassengerId  Pclass   Age  SibSp  Parch    Fare
0          892       3  34.5      0      0  7.8292
1          893       3  47.0      1      0  7.0000
2          894       2  62.0      0      0  9.6875

In [335]:
X_teste = teste_nr.drop("PassengerId",axis=1)

In [308]:
y_pred = clf_rl.predict(X_teste)

In [309]:
teste['Survived'] = y_pred

In [310]:
base_envio = teste[['PassengerId','Survived']]

In [311]:
base_envio.to_csv('resultados.csv',index=False)

In [312]:
treino.columns[treino.dtypes == 'object']

Index(['Sex', 'Embarked'], dtype='object')

In [313]:
treino.Embarked.value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [314]:
treino['MaleCheck'] = treino.Sex.apply(lambda x: 1 if x == 'male' else 0)

In [315]:
treino.MaleCheck.value_counts()

1    577
0    314
Name: MaleCheck, dtype: int64

In [316]:
teste['MaleCheck'] = teste.Sex.apply(lambda x: 1 if x == 'male' else 0)

In [317]:
teste.MaleCheck.value_counts()

1    266
0    152
Name: MaleCheck, dtype: int64

In [318]:
from sklearn.preprocessing import OneHotEncoder

In [319]:
 ohe = OneHotEncoder(handle_unknown='ignore',dtype='int32')

In [320]:
ohe = ohe.fit(treino[['Embarked']])

In [321]:
ohe.transform(treino[['Embarked']]).toarray()

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       ...,
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0]], dtype=int32)

In [322]:
ohe_df = pd.DataFrame(ohe.transform(treino[['Embarked']]).toarray(),columns=ohe.get_feature_names_out())
ohe_df.head(3)

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1

In [323]:
treino = pd.concat([treino,ohe_df],axis=1)

In [324]:
treino[['Embarked','Embarked_C','Embarked_Q','Embarked_S']].value_counts()

Embarked  Embarked_C  Embarked_Q  Embarked_S
S         0           0           1             646
C         1           0           0             168
Q         0           1           0              77
dtype: int64

In [325]:
ohe_df = pd.DataFrame(ohe.transform(teste[['Embarked']]).toarray(),columns=ohe.get_feature_names_out())

In [326]:
teste = pd.concat([teste,ohe_df],axis=1)

In [327]:
teste[['Embarked','Embarked_C','Embarked_Q','Embarked_S']].value_counts()

Embarked  Embarked_C  Embarked_Q  Embarked_S
S         0           0           1             270
C         1           0           0             102
Q         0           1           0              46
dtype: int64

In [328]:
treino = treino.drop(['Sex','Embarked'],axis=1)
teste = teste.drop(['Sex','Embarked'],axis=1)

In [329]:
treino.head(5)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,MaleCheck,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,1,0,0,1

In [330]:
X_train.head(5)

     Pclass        Age  SibSp  Parch     Fare
6         1  54.000000      0      0  51.8625
718       3  29.699118      0      0  15.5000
685       2  25.000000      1      2  41.5792
73        3  26.000000      1      0  14.4542
882       3  22.000000      0      0  10.5167

In [331]:
teste = teste.drop(['Survived'],axis=1)

In [235]:
teste.head(3)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,MaleCheck,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.5,0,0,7.8292,1,0,1,0
1,893,3,47.0,1,0,7.0000,0,0,0,1
2,894,2,62.0,0,0,9.6875,1,0,1,0

In [332]:
X_teste = teste.drop('PassengerId',axis=1)

In [336]:
y_pred = clf_rl.predict(X_teste)

In [337]:
teste['Survived'] = y_pred

In [339]:
base_envio = teste[['PassengerId','Survived']]

In [341]:
base_envio.to_csv('resultados.csv',index=False)